.signup-form-heading{
    /* color: #75adecc2; */
    color: black;
    font-size: 5rem;
    font-family: "Montserrat";
    text-align: right;
    margin-right: 12vw;
    text-decoration: underline;
    margin-top: 5vh;
}

.signup-section{
    color: black;
    font-size: 6rem;
    text-align: right;
    margin-right: 13vw;
    
}

input{
  text-align: center;  
  outline: none;
  background-color:  rgb(36, 33, 33);
  border: 2px solid #ac0707;
  border-radius: 20px;
  color: white;
}

.terms{
    margin-left: 2vw;
    margin-right: 2vw;
    margin-top: 9vh;
}

.signup-container{
    /* background-color: rgb(97, 54, 122); */
    width: 40vw;
    margin-top: 40vh;
    border: 3px solid white;
    /* border-right: none; */
    margin: 20vh auto ;
    background-color: #d4b7b79d;
    box-shadow: 22px 12px 42px 10px rgb(90, 84, 84);
    border-radius: 30px;
    padding-bottom: 5vh;
}

.pickside{
    margin-right: 1vw;
    background-color: rgb(36, 33, 33);
    color: white;
}

button{
    margin-right: 4vw;
}






